{% extends 'base.html' %}
{% block content %}
<div class="detail__img">
    <img src="{{sauce.img}}" alt="{{sauce.name}}" />
</div>
<div class="detail__name">
    <h1 class="title">{{sauce.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'sauce_update' sauce.pk %}" class="button is-info"> Update
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'sauce_delete' sauce.pk %}" class="button is-danger"> Delete
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p>{{sauce.description}}</p>
        <br>
        <br>
    </div>
</div>
<div class="food_container">
    <!-- inside container -->
    <div class="detail__songs mb-5">
        <h4 class="title is-3">What goes well with {{sauce.name}}?</h4>


        {% for food in sauce.foods.all %}
        <div>
            <span>{{forloop.counter}}</span>
            <span><b>{{food.name}}</b></span>
        </div>
        {% empty %}
        <article class="message">
            <div class="message-header">
                <p>No Foods Available</p>
            </div>
        </article>

        {% endfor %}
    </div>
    <form class="mb-5" action="{% url 'food_create' sauce.pk %}" method="post">
        {% csrf_token %}
        <div class="field has-addons">
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="name"
                    placeholder="Food Name"
                    required
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="img"
                    placeholder="Image of Food"
                    required
                />
            </div>
            <div class="control">
                <input class="button is-primary" type="submit" value="Add Food" />
            </div>
        </div>
    </form>
</div>

{% endblock %}